h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(45, 123, 192);
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 30px;
}